[submodule "tacit-helloworld"]
	path = tacit-helloworld
	url = https://github.com/vanHeemstraSystems/tacit-helloworld.git
[submodule "tacit-server"]
	path = tacit-server
	url = https://github.com/vanHeemstraSystems/tacit-server.git
